<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<servlet>
		<servlet-name>
			Index
		</servlet-name>
		<servlet-class>
			Index
        </servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>
			ViewBoard
		</servlet-name>
		<servlet-class>
			ViewBoard
        </servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>
			ViewThread
		</servlet-name>
		<servlet-class>
			ViewThread
        </servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>
			UserFeed
		</servlet-name>
		<servlet-class>
			UserFeed
        </servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>
			ViewGroup
		</servlet-name>
		<servlet-class>
			ViewGroup
        </servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/Index</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ViewBoard</servlet-name>
		<url-pattern>/ViewBoard</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ViewThread</servlet-name>
		<url-pattern>/ViewThread</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UserFeed</servlet-name>
		<url-pattern>/UserFeed</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ViewGroup</servlet-name>
		<url-pattern>/ViewGroup</url-pattern>
	</servlet-mapping>
</web-app>